<div class="post">
  <h1>#tags by popularity</h1>
  <p>
    <% @tags.each do |key, value| %>
      <a href="/tags/<%= key %>"><%= "##{key}" %></a><%= " (#{value})" %><br />
    <% end %>
  </p>
</div>